@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500&display=swap');

.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  font-family: 'Roboto Slab', serif;
  background: #e9e9e9;
  
}

.footer {
  position: relative;
  bottom: 0px;
  right: 0px;
  left: 0px;
}